<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="{% static 'img/hornear.png' %}" alt="Under Construction"> </div> 
        <div class="content">
            <h1>¡Ups!</h1>
            <h2>Estamos trabajando en esta sección.</h2>
            <p>Esta sección está en construcción y pronto estará disponible. Gracias por tu paciencia, ¡te sorprenderemos con algo increíble!</p>
            <button>Regresar</button>
        </div>
    </div>

</body>
</html>