{% extends "layout/layout-logged.html" %}

{% load static %}

{% block title %}Inicio - Chill & Sweet{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<style>
  .favorite-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background-color: white; /* Blanco inicial */
    color: #ff9bb3;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
}

.favorite-button:hover {
    transform: scale(1.1);
}

/* Clase para botón en estado favorito */
.favorite-button.favorited {
    background-color: #ff9bb3; /* Rosa cuando es favorito */
    color: white;
}
</style>

<!-- Sección recomenadaciones -->
<div class="best-sellers-section">
  <h1 class="contact-title ">Nuestra recomendación</h1>
  <div class="postres-grid">
    {% for favorito in favoritos %}
    <!-- Card de cada postre -->
    <div class="postre-item">
      <div class="postre-image-container">
        <img src="{{ favorito.postre.imagen.url }}" alt="{{ favorito.nombre }}" class="postre-image">
      </div>
      <div class="postre-details">
        <div class="postre-header">
          <h3 class="postre-name">{{ favorito.postre.nombre }}</h3>
          <span class="postre-calories">{{ favorito.postre.calorias }} cal</span>
        </div>
        <p class="postre-description">{{ favorito.postre.descripcion|truncatewords:18 }}</p>
        <span class="postre-price">$ {{ favorito.postre.precio }}</span>
      </div>
      <div style="position: relative;">
        <button class="favorite-button" onclick="addToFavorites({{ postre.id }}, event)">
          ♡
        </button>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<script src="{% static 'js/notification.js' %}" defer></script>
<script src="{% static 'js/carousel.js' %}" defer></script>