{% extends "layout/layout-logged.html" %}

{% load static %}

{% block title %}Inicio - Chill & Sweet{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
  <div class="carousel">
      <!-- Carrusel de imágenes y texto promocional -->
      <div class="carousel-content">
          <div class="carousel-text">
              <h2>¡Descubre nuestros irresistibles postres!</h2>
              <p>Sabores únicos, texturas deliciosas y presentaciones que te sorprenderán. Elige tu favorito y disfruta cada bocado.</p>
              <a href="{% url 'login' %}" class="order-button">Ordenar ahora</a>
          </div>
          <!-- Imágenes del carrusel -->
          <div class="carousel-image">
              <img src="{% static 'img/cafe-cappuccino.jpg' %}" alt="Postre único" class="slide" />
              <img src="{% static 'img/crepa-cajeta.jpg' %}" alt="Postre delicioso" class="slide" />
              <img src="{% static 'img/crepa-frutosrojos.jpg' %}" alt="Postre especial" class="slide" />
              <img src="{% static 'img/pancake-vainilla.jpg' %}" alt="Postre deli" class="slide" />
               <!-- Navegación por puntos del carrusel -->
              <div class="carousel-dots">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                  <span class="dot" onclick="currentSlide(4)"></span>
              </div>
          </div>
      </div>
  </div>

  <!-- Slider de Categorías -->
  <div class="slider-container">
    <h2 class="slider-title">Categorías</h2>

    <div class="category-items-wrapper">
        <!-- Botón de desplazamiento a la izquierda -->
      <button class="scroll-btn left" onclick="scrollCategories(-1)">
        <img src="{% static 'svg/left.svg' %}" alt="Botón izquierda">
      </button>

      <!-- Contenedor del slider -->
      <div class="slider" id="categories-slider">
          {% for category in categorias %}
          <div class="category-card">
              <a href="{% url 'personalize' categoria_id=category.id %}">
                  <img class="category-img" src="{{ category.imagen.url }}" alt="{{ category.nombre }}">
                  <p class="category-title">{{ category.nombre }}</p>
              </a>
          </div>
          {% endfor %}
      </div>

      <!-- Botón de desplazamiento a la derecha -->
      <button class="scroll-btn right" onclick="scrollCategories(1)">
        <img src="{% static 'svg/right.svg' %}" alt="Botón derecha">
      </button>
    </div>

  </div>

  <!-- Points Section -->
  <div class="help-section">
    <h2>Tienes {{user.puntos_acumulados}} puntos</h2>
    <p>
      ¡Canjéalos para descuentos en tus próximos pedidos!
    </p>
    <a href="{% url 'account' %}" class="help-button">Ver mis puntos</a>
  </div> 

  <!-- Sección recomendaciones -->
  <div class="best-sellers-section">
    <h2 class="slider-title">Nuestra recomendación</h2>
    <div class="postres-grid">
        {% for postre in best_sellers %}
        <!-- Card de cada postre -->
        <div class="postre-item">
            <div class="postre-image-container">
                <img src="{{ postre.imagen.url }}" alt="{{ postre.nombre }}" class="postre-image">
            </div>
            <div class="postre-details">
                <div class="postre-header">
                    <h3 class="postre-name">{{ postre.nombre }}</h3>
                    <span class="postre-calories">{{ postre.calorias }} cal</span>
                </div>
                <p class="postre-description">{{ postre.descripcion|truncatewords:18 }}</p>
                <div class="menu-item-footer">
                  <p class="menu-item-price">${{ postre.precio }}</p>
                  <div class="menu-item-buttons">
                    <!-- Botón agregar al carrito -->
                    <form method="POST" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="postre_id" value="{{ postre.id }}">
                        <button class="menu-item-btn" type="submit">
                            <img src="{% static 'svg/plus.svg' %}" alt="Agregar al carrito">
                        </button>
                    </form>
                    
                    <!-- Botón favoritos -->
                    <button class="menu-item-btn favorito-btn {% if postre.id in favoritos %}favorited{% endif %}" data-id="{{ postre.id }}">
                      <svg class="favorito-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                      </svg>
                    </button>                    
                  </div>
              </div>          
            </div>
        </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/notification.js' %}" defer></script>
<script src="{% static 'js/carousel.js' %}" defer></script>
<script src="{% static 'js/favorites.js' %}" defer></script>
<script>
  function scrollCategories(direction) {
    const slider = document.getElementById('categories-slider');
    const scrollAmount = 300; // Cantidad de desplazamiento
    slider.scrollBy({
        left: direction * scrollAmount,
        behavior: 'smooth', // Animación suave
    });
}
</script>
{% endblock %}