{% extends "layout/layout-logged.html" %}

{% load static %}

{% block title %}Inicio - Chill & Sweet{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="alerta-carrito" class="alerta oculto">
    <button class="cerrar-alerta" onclick="cerrarNotificacion()">&times;</button>
    <img src="{% static 'img/succes_alert.png' %}" alt="Éxito" class="alerta-icono">
    <p>Se añadió con éxito a tu carrito</p>
</div>


<div class="container">
    <h1>¡Hola, {{ user.nombre }}!</h1>
    <p>Bienvenido a tu cuenta en Chill & Sweet.</p>
    
    <a href="{% url 'logout' %}" class="button-logout">Cerrar Sesión</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/notification.js' %}"></script>
{% endblock %}
