{% extends "layout/layout-guest.html" %}

{% load static %}

{% block title %}Chill & Sweet{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/contact-section.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="carousel">
        <!-- Carrusel de imágenes y texto promocional -->
        <div class="carousel-content">
            <div class="carousel-text">
                <h2>Cada sabor, tan único como tú</h2>
                <p>Crea postres únicos y obtén beneficios exclusivos al iniciar sesión.</p>
                <a href="{% url 'login' %}" class="order-button">Ordenar ahora</a>
            </div>
            <!-- Imágenes del carrusel -->
            <div class="carousel-image">
                <img src="{% static 'img/pastel-chocolate-sinfondo.png' %}" alt="Postre único" class="slide" />
                <img src="{% static 'img/fconcrema.png' %}" alt="Postre delicioso" class="slide" />
                <img src="{% static 'img/pastel-queso.png' %}" alt="Postre especial" class="slide" />
                <img src="{% static 'img/smoothie.png' %}" alt="Postre deli" class="slide" />
                 <!-- Navegación por puntos del carrusel -->
                <div class="carousel-dots">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
        </div>
    </div>

     <!-- Sección de descripción destacada -->
    <div class="highlight-section">
        <p>
            Diseña tus postres desde cero, obtén descuentos especiales, acumula puntos 
            para recompensas futuras y ahorra tiempo con opciones de recogida rápida. 
            ¡Haz de cada pedido una experiencia personalizada y deliciosa!
        </p>
    </div>

    <!-- Sección de más vendidos -->
    <div class="best-sellers-section">
        <h2 class="contact-title">Más vendidos</h2>
        <div class="postres-grid">
            {% for postre in best_sellers %}
            <!-- Card de cada postre -->
            <div class="postre-item" onclick="window.location.href='{% url 'login' %}'">
                <div class="postre-image-container">
                    <img src="{{ postre.imagen.url }}" alt="{{ postre.nombre }}" class="postre-image">
                </div>
                <div class="postre-details">
                    <div class="postre-header">
                        <h3 class="postre-name">{{ postre.nombre }}</h3>
                        <span class="postre-calories">{{ postre.calorias }} cal</span>
                    </div>
                    <p class="postre-description">{{ postre.descripcion|truncatewords:18 }}</p>
                    <span class="postre-price">$ {{ postre.precio }}</span>
                </div>              
            </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- Sección de ayuda -->
    <div class="help-section">
        <p>
            ¿Tienes dudas adicionales? Descubre cómo utilizar Chill & Sweet de manera efectiva. 
            Haz clic en el botón de abajo para explorar nuestro Centro de Ayuda con guías y preguntas frecuentes.
        </p>
        <a href="{% url 'help' %}" class="help-button">Ayuda</a>
    </div>    
    
    <!-- Sección de contacto -->
    {% include 'partials/contact-section.html' %}
    
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}