{% extends "base/base-index.html" %}

{% load static %}

{% block title %}Chill & Sweet{% endblock %}

{% block content %}
    <div class="carousel">
        <div class="carousel-content">
            <div class="carousel-text">
                <h2>Cada sabor, tan único como tú</h2>
                <p>Crea postres únicos y obtén beneficios exclusivos al iniciar sesión.</p>
                <a href="{% url 'login' %}" class="order-button">Ordenar ahora</a>
            </div>
            <div class="carousel-image">
                <img src="{% static 'img/fconcrema.png' %}" alt="Postre único" class="slide" />
                <img src="{% static 'img/pastel-queso.png' %}" alt="Postre delicioso" class="slide" />
                <img src="{% static 'img/smoothie.png' %}" alt="Postre especial" class="slide" />
                <img src="{% static 'img/smoothie.png' %}" alt="Postre deli" class="slide" />
                
                <!-- Dots debajo de la imagen -->
                <div class="carousel-dots">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
