/* Evita el desplazamiento horizontal en la página */
html, body {
    overflow-x: hidden;
}

/* Fuente global para todo el documento */
body {
    font-family: 'Roboto', sans-serif;
}

/* Estilo para los enlaces en general */
a {
    text-decoration: none;
    color: inherit;
}

/* Barra de navegación principal */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    background-color: white;
    height: 100px;
    border-bottom: 2px solid #e0e0e0;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
}

/* Contenedor del logo dentro de la barra de navegación */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

/* Contenedor de los enlaces en la barra de navegación */
.nav-links {
    display: flex;
    align-items: center;
}

/* Estilo general para los enlaces de la barra de navegación */
.nav-links a {
    margin-left: 3rem;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

/* Efecto hover en los enlaces de navegación */
.nav-links a:hover {
    background-color: rgba(251, 176, 207, 0.484);
}

/* Resaltar la sección activa */
.nav-links a.active {
    background-color: rgba(251, 176, 207, 0.678);
}

/* Botón específico para la opción "Inicia Sesión" */
.nav-links .button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Alinear los íconos a la derecha */
.nav-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Los íconos se alinean a la derecha */
    gap: 1rem; /* Espaciado entre los íconos */
    min-width: fit-content; /* Limita el tamaño del contenedor al contenido */
}

/* Estilo para los íconos */
.nav-icons a img {
    width: 25px; /* Tamaño estándar de los íconos */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Efecto hover en los íconos */
.nav-icons a img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}


/* Icono de menú hamburguesa para dispositivos móviles */
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Contenedor para mostrar el logo en el side menú (solo en móviles) */
.mobile-logo-container {
    display: none; 
    justify-content: center;
    margin-bottom: 1rem;
}

.mobile-logo {
    width: 100%;
    max-width: 160px;
}

/* Overlay para el side menú en dispositivos móviles */
.nav-links-mobile-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estado visible del overlay del side menú */
.nav-links-mobile-overlay.show-overlay {
    display: flex;
    opacity: 1;
}

/* Contenedor del side menú en dispositivos móviles */
.nav-links-mobile {
    width: 75%;
    max-width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 2rem;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Estado visible del side menú */
.nav-links-mobile.show {
    transform: translateX(0);
    opacity: 1;
}

/* Estilos para los enlaces dentro del side menú */
.nav-links-mobile a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    text-align: left;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    transition: background-color 0.3s;
    width: 95%;
    background-color: #ffffff;
}

/* Contenedor para íconos dentro de los enlaces del side menú */
.nav-links-mobile a .icon-container {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

/* Estilo para los íconos dentro del side menú */
.nav-links-mobile a i {
    color: #EF6486;
    font-size: 1rem;
}

/* Efecto hover en los enlaces del side menú */
.nav-links-mobile a:hover {
    background-color: #ef64872a;
}

/* Estilo para eliminar el margen inferior del último enlace del side menú */
.nav-links-mobile a:last-child {
    margin-bottom: 0;
}

/* Estilo para el enlace activo en el menú móvil */
.nav-links-mobile a.active {
    background-color: #ef64872a;
}

/* Estilo por defecto para ocultar el contenedor mobile-only-icons */
.mobile-only-icons {
    display: none;
}

/* Footer de la página */
.footer {
    background-color: #216164;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Contenido dentro del footer */
.footer-content {
    text-align: center;
}

.footer-content img {
    height: 100px; 
    margin-bottom: 5px;
}

/* Opciones de navegación del footer */
.footer-nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: 400;
}

.footer-content h1 {
    font-size: 1.5rem;
    line-height: 1.2;
}

.footer-content p {
    font-size: 0.9rem;
    font-weight: 300;
}


/* Media queries para pantallas medianas */
@media screen and (max-width: 1024px) {
    .nav-links a {
        margin-left: 1.5rem;
        padding: 0.8rem 1rem;
    }
}

/* Media queries para pantallas móviles */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between; /* Espacio entre elementos */
        align-items: center;
        padding: 1rem 1.5rem; /* Ajusta el espaciado */
        position: relative;
    }

    .logo {
        flex: 1; /* Ocupa el espacio necesario para el logo */
        display: flex;
        justify-content: center; /* Centra el logo */
        align-items: center;
        margin-left: 4.9rem;
        margin-top: .5rem;
    }

    .hamburger {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: .3rem;
        margin-top: .1rem;
    }

    .nav-icons {
        display: flex;
        gap: 0.5rem;
    }

    .nav-links-mobile .mobile-logo-container {
        display: flex;
    }

    .nav-links {
        display: none;
    }
}

/* Media queries para pantallas de 480px o menos */
@media (max-width: 480px) {
    .logo {
        margin-right: 105px;
    }

    .mobile-only-icons {
        display: flex;
        flex-direction: column;
    }

    .footer {
        width: 100%; 
        height: auto;
        padding: 2rem 2rem; 
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .footer-nav {
        flex-direction: column; 
        gap: 1rem; 
    }

    .footer-content p {
        margin-bottom: 1rem;
    }

    .nav-icons {
        display: none;
    }

    .nav-links {
        display: none;
    }
}
