{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chill & Sweet{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base/base-index.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Navegación -->
    <header class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.svg' %}" alt="Logo Chill & Sweet">
            </a>
        </div>
        <div class="nav-links">
            <a href="{% url 'register' %}">Regístrate</a>
            <a href="{% url 'login' %}" class="button">Inicia Sesión</a>
        </div>

        <!-- Icono de menú hamburguesa para móviles -->
        <div class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        
        <!-- Menú desplegable para móviles -->
        <div class="nav-links-mobile-overlay" id="mobileOverlay" onclick="toggleMenu()">
            <div class="nav-links-mobile" id="mobileMenu">
                <div class="mobile-logo-container">
                    <img src="{% static 'img/logo-image.svg' %}" alt="Logo Chill & Sweet" class="mobile-logo">
                </div>
                
                <a href="{% url 'register' %}">
                    <span class="icon-container"><i class="fas fa-user-plus"></i></span> Regístrate
                </a>
                <a href="{% url 'login' %}">
                    <span class="icon-container"><i class="fas fa-sign-in-alt"></i></span> Inicia Sesión
                </a>
                <a href="{% url 'help' %}">
                    <span class="icon-container"><i class="fas fa-question-circle"></i></span> Ayuda
                </a>
            </div>
        </div>
    </header>

    <!-- Contenido principal (cada vista reemplazará este bloque) -->
    <main class="main-content">
        {% block content %}
        <!-- Contenido específico de la vista -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo-blanco.svg' %}" alt="Logo Chill & Sweet">
            </a>
            <p>&copy; 2024 Chill & Sweet. Realizado por DUZD.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
</body>
</html>
