{% extends "layout/layout-logged.html" %}

{% load static %}

{% block title %}Crear - hill & Sweet{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/custom/create.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="page-container">
        <div class="create-section">
            <h2 class="create-title">Crea tu postre</h2>
            <p class="instruction">Elige la categoría del postre que deseas personalizar</p>
        </div>
    
        <div class="menu-container">
            {% for category in categorias %}
                <a class="food-option" href="{% url 'personalize' categoria_id=category.id %}">
                    <img class="food-option-img" src="{{ category.imagen.url }}" alt="Imagen de {{ category.nombre }}">
                    
                    <p class="food-category">{{category.nombre}}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}