/* Reset: elimina márgenes y padding predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Evita el desplazamiento horizontal en la página */
html, body {
    overflow-x: hidden;
}

/* Fuente global para todo el documento */
body {
    font-family: 'Roboto', sans-serif;
}

/* Barra de navegación principal */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    background-color: white;
    height: 100px;
    border-bottom: 2px solid #e0e0e0;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
}

/* Contenedor del logo dentro de la barra de navegación */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

/* Contenedor de los enlaces en la barra de navegación */
.nav-links {
    display: flex;
    align-items: center;
}

/* Estilo general para los enlaces de la barra de navegación */
.nav-links a {
    margin-left: 3rem;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

/* Efecto hover en los enlaces de navegación */
.nav-links a:hover {
    background-color: #4fb9bfc7;
}

/* Botón específico para la opción "Inicia Sesión" */
.nav-links .button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icono de menú hamburguesa para dispositivos móviles */
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Contenedor para mostrar el logo en el side menú (solo en móviles) */
.mobile-logo-container {
    display: none; 
    justify-content: center;
    margin-bottom: 1rem;
}

.mobile-logo {
    width: 100%;
    max-width: 160px;
}

/* Overlay para el side menú en dispositivos móviles */
.nav-links-mobile-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estado visible del overlay del side menú */
.nav-links-mobile-overlay.show-overlay {
    display: flex;
    opacity: 1;
}

/* Contenedor del side menú en dispositivos móviles */
.nav-links-mobile {
    width: 75%;
    max-width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 2rem;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Estado visible del side menú */
.nav-links-mobile.show {
    transform: translateX(0);
    opacity: 1;
}

/* Estilos para los enlaces dentro del side menú */
.nav-links-mobile a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    text-align: left;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    transition: background-color 0.3s;
    width: 95%;
    background-color: #ffffff;
}

/* Contenedor para íconos dentro de los enlaces del side menú */
.nav-links-mobile a .icon-container {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

/* Estilo para los íconos dentro del side menú */
.nav-links-mobile a i {
    color: #EF6486;
    font-size: 1rem;
}

/* Efecto hover en los enlaces del side menú */
.nav-links-mobile a:hover {
    background-color: rgba(79, 185, 191, 0.3);
}

/* Estilo para eliminar el margen inferior del último enlace del side menú */
.nav-links-mobile a:last-child {
    margin-bottom: 0;
}

/* Contenedor principal de contenido */
.main-content {
    padding: 2rem;
    text-align: center;
}

/* Título principal dentro del contenido */
.main-content h1 {
    font-size: 2rem;
    color: #2b3b4e;
    margin-bottom: 1rem;
}

/* Párrafo dentro del contenido principal */
.main-content p {
    font-size: 1.1rem;
    color: #555;
}

/* Contenedor para el carrusel */
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    padding: 2rem;
    position: relative;
}

/* Contenedor del contenido dentro del carrusel */
.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Texto dentro del carrusel */
.carousel-text {
    flex: 1;
    max-width: 40%;
    text-align: left;
}

.carousel-text h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.carousel-text p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    color: #000000;
}

/* Botón para realizar pedidos dentro del carrusel */
.order-button {
    padding: 1rem 2.5rem;
    background-color: #EF6486;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
}

.order-button:hover {
    background-color: #c7596c;
}

/* Contenedor para imágenes del carrusel */
.carousel-image {
    position: relative;
    flex: 1;
    max-width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out; 
}

.carousel-image img.active {
    opacity: 1;
    position: relative;
}

/* Puntos de navegación del carrusel */
.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    height: 6px;
    width: 16px;
    margin: 0 5px;
    background-color: #f8a5c2;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
}

.dot.active {
    background-color: #d46a7e;
    opacity: 1;
}

/* Footer de la página */
.footer {
    background-color: #216164;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Contenido dentro del footer */
.footer-content {
    text-align: center;
}

.footer-content img {
    height: 100px; 
    margin-bottom: 10px;
}

.footer-content h1 {
    font-size: 1.5rem;
    line-height: 1.2;
}

.footer-content p {
    font-size: 0.9rem;
    font-weight: 300;
}

/* Estilo para los enlaces en general */
a {
    text-decoration: none;
    color: inherit;
}

/* Media queries para pantallas medianas */
@media screen and (max-width: 1024px) {
    .nav-links a {
        margin-left: 1.5rem;
    }

    .carousel-text h2 {
        font-size: 2.4rem;
    }

    .carousel-text p {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}

/* Media queries para pantallas móviles */
@media (max-width: 768px) {
    .carousel-content {
        flex-direction: column;
    }

    .carousel-text {
        max-width: 100%;
        text-align: center;
    }

    .carousel-text h2 {
        font-size: 2.2rem;
    }

    .carousel-image {
        margin-top: 40px;
        max-width: 100%;
    }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {
    .navbar {
        justify-content: center;
        padding: 1.5rem 2rem 1rem 2rem;
    }

    .nav-links-mobile .mobile-logo-container {
        display: flex;
    }

    .nav-links {
        display: none;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        left: 1.8rem;
        top: 2.2rem;
    }

    .carousel {
        max-width: 100%;
    }

    .carousel-image {
        max-width: 100%;
        height: 250px;
    }

    .carousel-image img {
        width: auto;
        height: 100%;
        max-height: 250px;
        object-fit: contain;
    }

    .carousel-text h2 {
        font-size: 2rem;
    }

    .carousel-text p {
        font-size: 0.9rem;
    }
}