/* Reset: elimina márgenes y padding predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente global */
body {
    font-family: 'Roboto', sans-serif;
}

/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem 1rem 3rem;
    background-color: white;
    height: 100px;
    border-bottom: 2px solid #e0e0e0;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25); 
}

/* Logo en la barra de navegación */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

/* Enlaces de navegación */
.nav-links {
    display: flex;
    align-items: center;
}

/* Estilos generales para los enlaces de navegación */
.nav-links a {
    margin-left: 3rem;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-weight: 600; /* Semibold */
    transition: background-color 0.3s ease;
}

/* Hover para los enlaces de navegación */
.nav-links a:hover {
    background-color: #4fb9bfc7;
}

/* Botón específico para "Inicia Sesión" en la navegación */
.nav-links .button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icono de menú hamburguesa para dispositivos móviles */
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Overlay del side menú en dispositivos móviles */
.nav-links-mobile-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estado visible del overlay del side menú */
.nav-links-mobile-overlay.show-overlay {
    display: flex;
    opacity: 1;
}

/* Contenedor del side menú en dispositivos móviles */
.nav-links-mobile {
    width: 75%;
    max-width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 2rem;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Estado visible del side menú */
.nav-links-mobile.show {
    transform: translateX(0);
    opacity: 1;
}

/* Estilos para los enlaces dentro del side menú */
.nav-links-mobile a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    text-align: left;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
    transition: background-color 0.3s;
    width: 100%;
    background-color: #ffffff;
}

/* Contenedor del ícono en los enlaces del side menú */
.nav-links-mobile a .icon-container {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

/* Estilo del ícono en los enlaces del side menú */
.nav-links-mobile a i {
    color: #EF6486;
    font-size: 1.5rem;
}

/* Hover para los enlaces en el side menú */
.nav-links-mobile a:hover {
    background-color: rgba(79, 185, 191, 0.3);
}

/* Línea separadora entre enlaces en el side menú */
.separator {
    width: 95%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 0.5rem 0;
}

/* Elimina el margin-bottom en el último enlace del side menú */
.nav-links-mobile a:last-child {
    margin-bottom: 0;
}

/* Contenido principal de la página */
.main-content {
    padding: 2rem;
    text-align: center;
}

/* Título principal en el contenido de la página */
.main-content h1 {
    font-size: 2rem;
    color: #2b3b4e;
    margin-bottom: 1rem;
}

/* Párrafo en el contenido principal */
.main-content p {
    font-size: 1.1rem;
    color: #555;
}

/* Footer de la página */
.footer {
    background-color: #216164;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Contenido del footer */
.footer-content {
    text-align: center;
}

.footer-content img {
    height: 100px; 
    margin-bottom: 10px;
}

/* Estilo para el título en el footer */
.footer-content h1 {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* Estilo para el texto en el footer */
.footer-content p {
    font-size: 0.9rem;
    font-weight: 300;
}

/* Elimina el subrayado y conserva el color de los enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Media queries para pantallas medianas (Laptops) */
@media screen and (max-width: 1024px) {
    .nav-links a {
        margin-left: 1.5rem;
    }
}

/* Media Query para pantallas móviles */
@media (max-width: 480px) {
    .navbar {
        justify-content: center;
        padding: 1.5rem 2rem 1rem 2rem;
    }

    .nav-links {
        display: none;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        left: 1.8rem;
        top: 2.2rem;
    }
}
