/* Configuración global para bordes, márgenes y rellenos */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Contenedor principal con ancho máximo */
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; 
    width: 100%;
}

/* Contenedor principal de contenido */
.main-content {
    padding: 2rem;
    text-align: center;
}

/* Título principal dentro del contenido */
.main-content h1 {
    font-size: 2rem;
    color: #2b3b4e;
    margin-bottom: 1rem;
}

/* Párrafo dentro del contenido principal */
.main-content p {
    font-size: 1.1rem;
    color: #555;
}

/* Contenedor para el carrusel */
.carousel {
    width: 100%;
    padding: 2rem 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Contenedor del contenido dentro del carrusel */
.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Texto dentro del carrusel */
.carousel-text {
    flex: 1;
    max-width: 40%;
    text-align: left;
}

.carousel-text h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.carousel-text p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    color: #000000;
}

/* Botón para realizar pedidos dentro del carrusel */
.order-button {
    padding: 1rem 2.5rem;
    background-color: #EF6486;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.order-button:hover {
    background-color: #c7596c;
}

/* Contenedor para imágenes del carrusel */
.carousel-image {
    position: relative;
    flex: 1;
    max-width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-image img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out; 
}

.carousel-image img.active {
    opacity: 1;
    position: relative;
}

/* Puntos de navegación del carrusel */
.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    height: 6px;
    width: 16px;
    margin: 0 5px;
    background-color: #f8a5c2;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
}

.dot.active {
    background-color: #d46a7e;
    opacity: 1;
}

.highlight-section,
.help-section {
    padding: 3rem;
    line-height: 2rem;
    margin: 4rem 0;
    text-align: center;
    border-radius: 20px; 
    font-family: 'Roboto', sans-serif; 
}

.highlight-section {
    background-color: rgba(79, 186, 191, 0.25); 
}

.highlight-section p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
}

/* Sección de ayuda */
.help-section {
    background-color: #ffcce985; 
}

.help-section p {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 2rem;
}

/* Botón para realizar pedidos dentro del carrusel */
.help-button {
    padding: 1rem 2.5rem;
    background-color: #FBB0CF;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.help-button:hover {
    background-color: #df9eb9;
}

/* Grid para los postres */
.postres-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px 0;
}

/* Contenedor de cada postre */
.postre-item {
    display: flex;
    flex-direction: row; 
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 150px; 
    cursor: pointer;
}

.postre-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Imagen del postre (a la izquierda) */
.postre-image-container {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.postre-image {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 25px;
    object-fit: cover;
}

/* Detalles del postre (a la derecha) */
.postre-details {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 15px;
    overflow: hidden;
}

/* Contenedor para el título y calorías */
.postre-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}

/* Título del postre */
.postre-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/* Calorías del postre */
.postre-calories {
    font-size: 0.9rem;
    color: #888;
    margin: 0;
}

/* Descripción del postre */
.postre-description {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: left; 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
}


/* Precio del postre */
.postre-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-top: auto;
    text-align: left;
}

/* Footer con el precio */
.postre-footer {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

/* Media queries para pantallas medianas */
@media screen and (max-width: 1024px) {
    /* Ajuste del contenedor principal */
    .page-container {
        max-width: 800px; 
    }

    .carousel-image img {
        max-height: 300px;
    }

    .carousel-text h2 {
        font-size: 2.4rem;
    }

    .carousel-text p {
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .postres-grid {
        grid-template-columns: 1fr; 
    }

    .postre-item {
        height: auto;
        margin-bottom: 1rem;
    }
}

/* Media queries para pantallas móviles */
@media (max-width: 768px) {
    .carousel-content {
        flex-direction: column;
    }

    .carousel-text {
        max-width: 100%;
        text-align: center;
    }

    .carousel-text h2 {
        font-size: 2.2rem;
    }

    .carousel-image {
        margin-top: 40px;
        max-width: 100%;
    }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {
    .carousel {
        max-width: 100%;
    }

    .carousel-image {
        max-width: 100%;
        height: 250px;
    }

    .carousel-image img {
        width: auto;
        height: 100%;
        max-height: 250px;
        object-fit: contain;
    }

    .carousel-text h2 {
        font-size: 2rem;
    }

    .carousel-text p {
        font-size: 0.9rem;
    }

    .postre-item {
        flex-direction: column; 
        align-items: flex-start;
        height: auto; 
        padding: 10px;
    }

    .postre-image-container {
        width: 100%;
        padding-top: 100%; 
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .postre-image {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .postre-details {
        flex: unset; 
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .postre-header {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        margin-bottom: 10px; 
    }

    .postre-name {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .postre-calories {
        font-size: 0.9rem;
        color: #888;
        margin: 0;
    }

    .postre-description {
        margin-bottom: 10px; 
        text-align: left;
        display: -webkit-box; 
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    .postre-price {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 10px;
    }
}
