/* Configuración global */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

/* Contenedor principal de contenido */
.main-content {
    padding: 2rem;
    text-align: center;
}

/* Contenedor principal */
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; 
    width: 100%;
}

/* Sección del menú */
.create-section {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
}

/* Título del menú */
.create-title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    margin-bottom: 1rem;
    color: #000000;
}

.instruction {
    font-size: 1.2rem;
    font-weight: 300; 
    margin-bottom: 30px;
}

/* Contenedor de categorías */
.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 2rem;
}

/* Estilo de las opciones */
.food-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 15px;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.food-option:hover {
    transform: translateY(-5px);
}

/* Estilo de la imagen */
.food-option-img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 20px;
}

/* Estilo del texto */
.food-category {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 1024px) {
    .menu-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .food-option-img {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 480px) {
    .menu-container {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}